<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <title>Sports Store</title>
</head>
<body>
    <div class="navbar navbar-expand bg-light" role="navigation">
        <div class="row justify-content-between" style="width:100%;">
            <a class="col navbar-brand" href="#">SPORTS STORE</a>
            <div class="col" style="text-align:right;">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2" style="display:flex; flex-direction:column">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>