@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/**/*.min.css" />
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">Ошибка</h2>
    <h3 class="text-danger">При обработке Вашего запроса возникла ошибка.</h3>
</body>
</html>